<div class="container">
    <div class="funcionario-box">
        <button>Novo Funcionario</button>
        <div class="input-box">
            <label for="">Pesquisar</label>
            <input type="text" placeholder="Qual registro está buscando?" (input)="search($event)">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Departamento</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           @for (funcionario of Funcionarios; track funcionario) {
            <tr>
                <td>
                    @if(funcionario.ativo){
                        <img src="assets/img/Ativo.png" alt="Ativo" style="height: 20px; width: 20px;">
                    }@else {
                        <img src="assets/img/Inativo.png" alt="Inativo" style="height: 20px; width: 20px;">
                    }
                </td>
                <td>{{funcionario.nome}}</td>
                <td>{{funcionario.sobrenome}}</td>
                <td>{{funcionario.departamento}}</td>
                <td>
                    <button>Editar</button>
                    <button>Detalhes</button>
                </td>
                <td>
                    <button>Excluir</button>
                </td>
            </tr>
           }
        </tbody>
    </table>
</div>
