<div class="container">
    <div class="funcionario-box">
        <button>Novo Funcionario</button>
        <div class="input-box">
            <label for="">Pesquisar</label>
            <input type="text" placeholder="Qual registro está buscando?">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <img src="assets/img/Ativo.png" alt="Ativo" style="height: 20px; width: 20px;">
                    <img src="assets/img/Inativo.png" alt="Inativo" style="height: 20px; width: 20px;">
                </th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Departamento</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Fernando</td>
                <td>Ramos</td>
                <td>RH</td>
                <td>
                    <button>Editar</button>
                    <button>Detalhes</button>
                </td>
                <td>
                    <button>Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
